gammaf1=30
gammaf2=70
OUTPUT_PATH=C:\Users\neuro\Documents\Lab\data\edf
fs_default=200
fa=4096
EEGLAB_PATH=C:\EEGLab13\
alphaf2=13
fb=0.061043
alphaf1=8
fc=250
fc_default=250
thetaf1=3.5
deltaf2=3.5
thetaf2=7
fb_default=0.0610426
deltaf1=0.5
fa_default=4096
fs=200
LOCATIONS_PATH=C:\EEGLab13\locs21UP.ced
betaf2=24
betaf1=15
